<h1>Blue Modas</h1>
<p>Nossos produtos:</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
    <thead>
        <tr>
            <th>Codigo do Produto</th>
            <th>Descrição</th>
            <th>Imagem</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.productId }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.image }}</td>
            <td>{{ product.price }}</td>
            <td><button (click)="addProduct(product.productId)">Adicionar ao carrinho</button></td>
        </tr>
    </tbody>
</table>
